.part-top {
  height: 60px;
  display: flex;
  align-items: flex-start;
  flex: 0 0 auto;
}

.part-top-left,
.part-top-right {
  box-sizing: border-box;
}

.part-top-right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}

.part-top-left {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.part-top-menu,
.part-top-music,
.part-top-sitebar {
  margin-right: 10px;
}

.fa-search {
  position: relative;
  top: 11.7px;
  left: 55.2px;
}

.search-input {
  width: 160px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  line-height: 20px;
  outline: none;
  border-bottom: 2px solid rgba(247, 244, 244, 1);
  position: relative;
  left: 40px;
  top: 14px;
  padding: 0 32px 8px 26px;
}

.icon-google {
  position: relative;
  left: 20px;
  top: 13.5px;
}

.Hide-bar {
  display: none;
}

/*
.Todobar {
  display: flex;
  box-sizing: inherit;
  width: 60px;
  height: 30px;
  background-color: #6deea7;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
} */

.header__weather--ico,
.header__weather--temperature {
  font-size: 30px;
}

.header__weather--location {
  position: relative;
  left: 20px;
  font-size: 15px;
}

.header__weather {
  margin-right: 10px;
}

.part-top {
  animation: fadeIn 0.8s ease-in-out;
}

@keyframes slide-right {
  from {
    margin-left: -500px;
  }

  to {
    margin-left: 0%;
  }
}

.bars {
  display: none;
  position: fixed;
  top: 15px;
  left: 15px;
}

.bars:hover {
  cursor: pointer;
}

.todo {
  height: 100%;
  width: 100%;
  border-radius: 0 20px 20px 0;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 4px 16px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(4px);
  display: none;
  padding: 30px 15px;
  animation: slide-right 0.5s;
}

.show__status-bar {
  display: block;
  animation: slide-right 0.5s;
}

.show__status-bar2 {
  display: block;
  position: relative;
}

.todo__status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo__status-bar__title {
  font-size: 30px;
}

.todo__status-bar__title,
.fa-angle-left {
  position: relative;
  bottom: 50px;
}

.todoForm {
  position: relative;
  bottom: 40px;
}

.toDo__title {
  position: relative;
  top: 0px;
}

.todo__status-bar button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  color: white;
}

.todo__status-bar button:hover {
  cursor: pointer;
}

.js-toDoForm {
  position: relative;
  top: 25px;
  width: 100%;
  text-align: center;
}

.js-toDoForm input {
  box-sizing: border-box;
  width: 100%;
  height: 25px;
  border-radius: 10px;
}

.btnTodo {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  font-size: 20px;
}

.pending {
  max-width: 600px;
}
.pending::-webkit-scrollbar {
  display: none !important;
}

.todo-margin {
  margin-bottom: 10px;
  box-sizing: border-box;
}

#js-input__todo {
  color: white;
}

.js-toDoList button {
  position: relative;
  background: none;
  border: 3px solid #fff;
  border-radius: 5px;
  color: #fff;
  bottom: 3px;
  margin-left: 10px;
  font-size: 10px;
  max-width: 30px;
  max-height: 30px;
  float: right;
}

.js-toDoList li {
  margin: 0 0 15px 0;
}

.balance {
  position: relative;
  top: 20px;
  margin-top: 20px;
}
