.bottom {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.today-date-show {
  font-size: 30px;
}

.bottom-right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 20px;
}
.bottom-music {
  margin-right: 20px;
}

.bottom-left {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 12.5px;
  left: 10px;
  padding: 20px;
}

.bottom-left,
.bottom-right i {
  font-size: 25px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}

.bottom-center-quote {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.sitebar-bubble1 {
  display: none;
  width: 12px;
  height: 8px;
  background-color: #fff;
  position: absolute;
  bottom: 49px;
  border-radius: 5px;
  left: 33px;
}

.sitebar-bubble2 {
  display: none;
  width: 25px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  bottom: 63px;
  border-radius: 15px;
}

.sitebar-site {
  display: none;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  position: absolute;
  width: 180px;
  height: 110px;
  right: 18px;
  bottom: 82px;
  border-radius: 9px;
  background-color: #fff;
  color: black;
}

.sitebar-siteName {
  margin: 2px 0 2px 13px;
  opacity: 0.7;
}

.sitebar-siteName:hover {
  opacity: 1;
}

.img-nomad {
  width: 15px;
  height: 13px;
}

@keyframes sSite {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.show_sitebar {
  display: flex;
  animation: 0.7s sSite ease-in-out;
}

.icon-chrome-tab,
.sitebar-img {
  position: relative;
  top: 2px;
}

.sitebar-img {
  width: 16px;
  height: 16px;
}

.icon-chrome-tab {
  width: 15px;
  height: 15px;
}
