:root {
  --color-white: #fff;
  --color-background: rgba(0, 0, 0, 0.5);
  --color-gray: #bcbcbc;
  --color-lightblue: #369fff;
  --size-padding: 1em;
  --size-margin-bottom: 2rem;
  --size-todo: 1em;
  --transition-duration: 300ms;
}
